$gray: #EAF2F4;
$brightpink: #DC143C;
$pink: #C45858;
$orange: #FF6347;
$darkgray: #202020;

$laptop: 1200px;
$tablet: 768px;
$mobile: 480px;

* {
	box-sizing: border-box;
	overflow: auto;
	overflow-wrap: break-word;
	font-family: Montserrat, Futura, Helvetica, sans-serif;
}

/* Header, Navigation Menu */
.header {
	color: #202020;
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(196,88,88,0.9);
}
.header ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 1%;
	margin: 0;
	list-style-type: none;
	flex-grow: 1;
	align-items: center;
}
.header li{
	display: flex;
	justify-content: space-evenly;
	align-items: baseline;
	padding: 1%;
	margin: 1%;
	text-align: center;
}
.header a {
	float: left;
	color: black;
	text-align: center;
	border-radius: 4px;
}
.header a:hover {
	background-color: #EAF2F4;
	color: black;
}
.header a.active {
	background-color: #FF6347;
	color: white;
}
.header img {
	width: 50px;
	padding: 0;
}
.icon {
	justify-self: start;
}

/* Footer */
.footer {
	text-align: center;
	padding: 1em 1em 0 1em;
	overflow: auto;
	background-size: cover;
	background-position: center;
	background: rgba(196,88,88,0.9);
	bottom: 0;
	left: 0;
    right: 0;
    display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: baseline;
	background: rgba(196,88,88,0.9);
	overflow: hidden;
	text-align: center;
}

h1 {
	text-align: center;
	font-weight: bold;
	grid-column-end: span;
}
h2 {
	font-weight: bold;
	grid-column-end: span;
}
h3 {
	font-weight: bold;
	grid-column-end: span;
}
h4 {
	grid-column-end: span;
	margin: 0;
}

/* Whole Page */
body {
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 10% 6% 0 6%;
}

/* Main Area */
.cover {
	grid-area: showcase;
	min-height: 300px;
	background-size: cover;
	background-position: center;
	padding: 4rem;
	background: rgba(255,255,255,0.6);
}
.home {
	background-image: url("../images/background-low.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	grid-area: showcase;
	min-height: 300px;
	padding: 4rem;
	display: flex;
	justify-content: center;
}
.about {
	display: grid;
	grid-template-columns: auto;
	justify-content: center;
}

a {
	text-decoration: none;
	color: #202020;
}
a:link {
	color: #DC143C;
}
a:visited {
	color: #EAF2F4;
}
a:hover {
	color: #DC143C;
}
a:active {
	color: #202020;
}

@supports (display: grid) {
	.wrapper > * {
		width: auto;
		margin: 0;
	}

/* Gallery, Images */
.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
}
.wrapper h3 {
	background: #FF6347;
	color: #202020;
	text-align: center;
	display: inline-flex;
	padding: 1%;
	font-size: 100%;
	font-weight: bold;

}
.gallery img, iframe {
	display: flex;
	min-width: 200px;
	max-width: 360px;
	align-content: stretch;
	padding: 1% 0;
}
.thumbnail {
	border: none;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
}
img:hover {
	transform: scale;
}
/* Contact Page */
.contact {
	background-color: #EAF2F4;
	padding: 10% 20% 5% 20%;
}
.contact input, textarea {
	padding: .5rem 2rem;
    border-radius: 1rem;
    font-size: 100%;
    border: none;
}
.submit {
	color: #202020;
	background: #C45858;
	font-family: Montserrat, sans-serif;
	padding: .5rem 2rem;
    border-radius: 1rem;
    font-size: 1rem;
    border: none;
}
.submit:hover {
	background: #DC143C;
	color: #EAF2F4;
}
.wrapper {
	display: grid;
	grid-gap: 1em;
}
.grid {
    display: grid;
    grid-gap: 1em;
    /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
}
.arrow {
	width: 2em;
	position: fixed;
}

}


@supports (grid-area: auto) {
	@media screen and (max-width: 25em) {
		body {
			padding: 16em 1em 1em 1em;
		}
		.wrapper {
			max-width: none;
			display: grid;
			padding: 0;
			/*grid-template-columns: 1;*/
			grid-template-columns: repeat(1, auto);
			grid-auto-columns: 25%;
			justify-items: stretch;
		}
		.header ul {
			text-align: center;
			float: none;
			display: block;
		}
		.header a {
    		float: none;
    		display: block;
    		text-align: center;
    		justify-content: center;
    		padding: 1%;
  		}
  		.gallery{
  			display: flex;
  			flex-wrap: wrap;
			justify-content: space-between;
			align-items: baseline;
			flex-direction: column;
  		}
  		.gallery img {
  			width: 100%;
  		}
		.footer {
			grid-column: 1/4;
		}
	}
	@media screen and (max-width: 50em) {
		.wrapper {
			max-width: none;
			display: grid;
		}
		/*.header ul {
			float: none;
			display: block;
			text-align: center;
		}
		.header a {
    		float: none;
    		display: block;
    		text-align: center;
    		justify-content: center;
    		padding: 1% 0;
  		}*/
  		.icon {
  			float: none;
  			display: block;
  		}
		.body {
			padding: .header{max-height=auto};
		}
		.footer {
			grid-column: 1/4;
		}
	}
}