/*$gray: #EAF2F5;
$mediumpink: #A3746A;
$red: #731406;
$darkpink: #8D5049;
$lightpink: #D9BDB7;

$gray: #EAF2F4;
$mediumpink: #23201E;
$red: #8C5E57;
$darkpink: #A67F77;
$lightpink: #3E0000;

$gray: #A77E8F;
$mediumpink: #D9DBD5;
$red: #8E4B39;
$darkpink: #590E03;
$lightpink: #DC143C;*/

$gray: #EAF2F4;
$mediumpink: #DC143C;
$red: #CD5C5C;
$darkpink: #FF6347;
$lightpink: #FFEBCD;

$laptop: 1200px;
$tablet: 768px;
$mobile: 480px;

html {
	box-sizing: border-box;
}

/* Header, Navigation Menu */
.header {
	position: fixed;
    left:0;
    right:0;
    top:0;
	z-index: 10;
	background-color: $mediumpink;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	justify-content: right;
	align-items: right;
	padding: 1em;
	grid-area: showcase;
	min-height: 50px;
	background-size: cover;
	background-position: center;
	background: rgba(163,116,106,0.9);
	margin: 0;
}
.header ul {
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	justify-content: right;
	align-items: right;
	padding: 0;
	margin: 0;
	text-align: center;
	transition: cubic-bezier(0.73, 0.09, 0.21, 0.96) 250ms;
}
.header li {
	justify-content: right;
	align-items: right;
}
.header img {
	width: 50px;
}

/*h1 {
	text-align: center;
	color: $red;
	font-weight: bold;
	grid-column-end: span 3;
}
h2 {
	color: $black;
	grid-column-end: span 3;
}
h3 {
	color: $gray;
	grid-column-end: span 3;
}
h4 {
	color: $red;
	grid-column-end: span 3;
	margin: 0;
}
p {
	grid-column-end: span 3;
}
*/
/* Whole Page */
body {
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	font-family: Montserrat, Futura, Helvetica, sans-serif;
	padding: 6em 4em 0 4em;
}

/* Main Area */
.cover {
	grid-area: showcase;
	min-height: 300px;
	background-size: cover;
	background-position: center;
	padding: 4rem;
	background: rgba(255,255,255,0.6);
}
.home {
	background-image: url("../images/background-low.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	justify-content: center;
}
.about {
	display: grid;
	grid-template-columns: auto;
}
a {
	text-decoration: none;
}
a:link {
	color: $lightpink;
}
a:visited {
	color: $gray;
}
a:hover {
	color: $darkpink;
}
a:active {
	color: $gray;
}

@supports (display: grid) {
	.wrapper > * {
		width: auto;
		margin: 0;
		/*grid-template-columns: 3fr 1fr;*/
	}

/* Footer */
.footer {
	background-color: $mediumpink;
	margin: 0;
	display: grid;
	justify-content: center;
}
.footer img{
	width: 7%;
	padding: 1em;
	align-content: center;
	justify-content: center;
}

/* Gallery, Images */
.gallery {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-column: 1/3;
}
.gallery img{
	display: block;
	object-fit: cover;
	border: 0;
	width: 100%;
	height: auto;
}

/* Contact Page */
.contact {
	color: $red;
	background-color: rgba(white,white,white,0.7);
	padding: 3em 10em 1em 10em;
}
.contact svg {
	width: 50px;
	height: 50px;
}
.submit {
	color: $darkpink;
	background: $gray;
	font-family: Montserrat, sans-serif;
	padding: .5rem 2rem;
    border-radius: 2rem;
    font-size: 1rem;
    border: none;
}

.wrapper {
	display: grid;
	grid-gap: 1em;
	/*grid-template-rows: repeat(auto, 1fr);*/
	/*grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));*/
	/*margin: 5em 0 2em 0;
	padding: 0 5em 0 5em;*/
	background-position: fixed;
}
.grid {
    display: grid;
    grid-gap: 1em;
    /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
}

}


@supports (grid-area: auto) {
	@media screen and (min-width: 25em) {
		.wrapper {
			max-width: none;
			display: grid;
			/*grid-template-columns: 15em auto;*/
		}
		.header {
			grid-column: 1/4;
		}
		/*.main {
			grid-column: 1/3;
		}*/
		/*.sidebar {
			grid-column: 3/4;
			grid-row: 2/3;
		}
		/*.footer {
			grid-column: 1/4;
		}*/
	}

	@media screen and (min-width: 50em) {
		.wrapper {
			/*grid-template-columns: 15em auto 15em;*/
		}
		.header {
			grid-column: 1/4;
		}
		/*.sidebar {
			display: inherit;
			grid-template-columns: inherit;
			grid-column: 3/4;
			grid-row: 2/3;
		}
		.sidebar:last-of-type {
			grid-column: 3/4;
		}*/
		/*.main {
			grid-row: 2;
			grid-column: 1/3;
			z-index: 1;
		}*/
		/*.footer {
			grid-column: 1/4;
		}*/
	}
}